*{
    padding:0;
    width:100%;
    display:block;
    margin:0;
}
body{
    background-color :white ;
    color:black;
    height:auto;
    text-align :center ;
    font-family:Red hat display",sans-serif;
    font-size :20px;
    line-height :20px ;
   /* width:400px;*/
    margin:10px;
    padding :10px;
.log{
    border-color:black;
    background-color:#502366;
    color:white;
    border-radius :10px ;
    padding :5px ;
    width :315px ;
}
.legend{
    border-radius :10px ;
    background-color :white;
    color :black ;
    padding:5px;
    width:300px;
    border-color :black ;
}
.flex{
    border-radius :10px ;
    border-color :black ;
    background-color :white ;
    color :black ;
    width:300px;
    padding :5px;
    margin:5px;
}
.shift{
    text-align :right ;
    font-size :15px;
    line-height :10px;
    color :black ;
    float:right;
    text-decoration :none ;
    margin:10px;
    font-family:Red hat display", sans-serif;
}
.password{
    text-align :left ;
    margin: 5px;
}
.automart{
    font-weight :bold ;
    margin :10px ;
}
.email{
    text-align :left ;
    margin:auto;
    
}
.welcome{
    font-family:Red hat display",sans-serif;
    font-size :10px ;
}
.item{
    font-family :Red hat display", sans-serif;
    line-height :2.5;
}
@media(max-width:600px){
    body{
       width:100vw ;
       height:100vh;
    }
}
@media(min-width:992px){
    body{
       width:100%;
       height:100vh;
    }
}
